{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Gunakan ToolsKuy Untuk Membantu Pekerjaanmu Menjadi Ringan">
    <meta property="og:url" content="https://toolskuy.domcloud.dev/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Ringankan Tugas Mu Dengan ToolsKuy- Remove Background">
    <meta property="og:description" content="Gunakan ToolsKuy Untuk Membantu Pekerjaanmu Menjadi Ringan">
    <meta property="og:image"
        content="https://ogcdn.net/e4b8c678-7bd5-445d-ba03-bfaad510c686/v4/toolskuy.domcloud.dev/Ringankan%20Tugas%20Mu%20Dengan%20ToolsKuy-%20Remove%20Background/https%3A%2F%2Fopengraph.b-cdn.net%2Fproduction%2Fimages%2F56188dc2-e3c3-4ce5-a8b1-1323953e37b9.jpg%3Ftoken%3DhOY-wLL-tV2Wb6eqlpzb3hUOqYMZbXQ3az2flBDqaSs%26height%3D800%26width%3D1200%26expires%3D33251249770/og.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="toolskuy.domcloud.dev">
    <meta property="twitter:url" content="https://toolskuy.domcloud.dev/">
    <meta name="twitter:title" content="Ringankan Tugas Mu Dengan ToolsKuy- Remove Background">
    <meta name="twitter:description" content="Gunakan ToolsKuy Untuk Membantu Pekerjaanmu Menjadi Ringan">
    <meta name="twitter:image"
        content="https://ogcdn.net/e4b8c678-7bd5-445d-ba03-bfaad510c686/v4/toolskuy.domcloud.dev/Ringankan%20Tugas%20Mu%20Dengan%20ToolsKuy-%20Remove%20Background/https%3A%2F%2Fopengraph.b-cdn.net%2Fproduction%2Fimages%2F56188dc2-e3c3-4ce5-a8b1-1323953e37b9.jpg%3Ftoken%3DhOY-wLL-tV2Wb6eqlpzb3hUOqYMZbXQ3az2flBDqaSs%26height%3D800%26width%3D1200%26expires%3D33251249770/og.png">
    <link rel="stylesheet" href="{% static 'src/css/styles.css' %}" />
    <link rel="shortcut icon" href="{% static 'src/images/Logo.png' %}" type="image/png">
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Sora&display=swap" rel="stylesheet" />
    <!-- Script -->
    <script async src="https://kit.fontawesome.com/c7e6574aa8.js" crossOrigin="anonymous"></script>
    <script src="{% static 'src/scripts/script.js' %}"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-11YS73K066"></script>
    <script defer data-domain="toolskuy.domcloud.dev" src="https://plausible.io/js/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.js"></script>
    <script src="https://apis.google.com/js/platform.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.14.1/dist/cdn.min.js"></script>
</head>